.login {
    border: white;
    border-style: solid;
    border-width: 3px;
    padding-left: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 300px;
    border-radius: 7px;
  }
  .Sign_In {
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif; */
    font-weight: bold;
    margin-top: 100px;
    margin-left: 10%;
    
   
  }
  .sign_container {
    border: black;
    display: flex;
    flex-direction: column;
    width: -50px;
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 10px;
  }
  .lower{
      display: flex;
      flex-direction: row;
      font-size: 0.8rem;
      margin-top: -1.5%;
  }

  .Forgot{
      margin-left: 17%;
      color:  #123456;
  }
  .rem{
      margin-left: 25%;
      color:  #123456;
  }
  
  .button_sign {
    background-color: #123456;
    margin-left: -30%;
    color: white;
    width: 540%;
    margin-left: -190%;
    margin-top: 30px;
    padding: 10px;
    font-size: 0.9rem;
  }

  .data{
    background-color: lightblue;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    width: 100%;
  }
  
  .enter_sign {

    padding: 10px;
    width: 500%;
    margin-left: -190%;
  }
  
  .enter_pass {
    margin-top: 30px;
    margin-left: -190%;
    padding: 10px;
    width: 500%;
    
    
  }

  @media (max-width:1400px){
    .enter_sign{
      width: 120%;
    }
    .enter_pass {
      width: 120%;
  }

  .button_sign {
    width: 120%;
    margin-left: 2%;
  }
  .login{
    margin-left: 10%;
  }
  .Sign_In{
    margin-right: -13%;
  }
}
  @media (max-width:1300px){
    .login{
      margin-left: 15%;
    }
  }
  @media (max-width:1200px){
    .enter_sign{
      width: 140%;
    }
    .enter_pass {
      width: 140%;
  }

  .button_sign {
    width: 140%;
    margin-left: 2%;
  }
  .login{
    margin-left: 12%;
  }
  .Sign_In{
    margin-right: -19%;
  }
}
@media (max-width:1100px){
  .enter_sign{
    width: 150%;
  }
  .enter_pass {
    width: 150%;
}

.button_sign {
  width: 150%;
  margin-left: 2%;
}

.login{
  margin-left: 10%;
}
.Sign_In{
  margin-right: -20%;
}
}

@media (max-width:1030px){
  .enter_sign{
    width: 200%;
  }
  .enter_pass {
    width: 200%;
}

.button_sign {
  width: 90%;
  margin-left: 59%;
}
.login{
  margin-left: 15%;
  
}
.Sign_In{
  margin-right: -30%;
  margin-bottom: -5%;
  font-size: 2.4rem;
}
}
@media (max-width:980px){
  .enter_sign{
    width: 190%;
  }
  .enter_pass {
    width: 190%;
}

.button_sign {
  width: 100%;
  margin-left: 49%;
}
.login{
  margin-left: 10%;
}
.Sign_In{
  margin-right: -29%;
}
}
@media (max-width:920px){
  .enter_sign{
    width: 190%;
  }
  .enter_pass {
    width: 190%;
}

.button_sign {
  width: 90%;
  margin-left: 52%;
}
.login{
  margin-left: 4%;
}
.Sign_In{
  margin-right: -32%;
}
}
@media (max-width:850px){
  .enter_sign{
    width: 120%;
  }
  .enter_pass {
    width: 120%;
}

.button_sign {
  width: 60%;
  margin-left: 32%;
}
.login{
  margin-left: 3%;
  margin-right: 21%;
}
.Sign_In{
  margin-right: -13%;
}
}

@media (max-width:770px){
  .enter_sign{
    width: 120%;
  }
  .enter_pass {
    width: 120%;
}

.button_sign {
  width: 60%;
  margin-left: 30%;
}
.login{
  margin-left: 3%;
  margin-right: 15%;
}
.Sign_In{
  margin-right: -13%;
}
}
@media (max-width:700px){
  .enter_sign{
    width: 120%;
  }
  .enter_pass {
    width: 120%;
}

.button_sign {
  width: 50%;
  margin-left: 37%;
  font-size: 1.1rem;
}
.login{
  margin-left: 3%;
  margin-right: 11%;
}
.Sign_In{
  margin-right: -13%;
  font-size: 2rem;
}
}

@media (max-width:650px){
  .enter_sign{
    width: 120%;
  }
  .enter_pass {
    width: 120%;
}

.button_sign {
  width: 50%;
  margin-left: 37%;
  font-size: 1.1rem;
}
.login{
  margin-left: -7%;
  margin-right: 8%;
}
.Sign_In{
  margin-right: -13%;
  font-size: 2rem;
}
}
@media (max-width:570px){
  .enter_sign{
    width: 120%;
  }
  .enter_pass {
    width: 120%;
}

.button_sign {
  width: 50%;
  margin-left: 37%;
  font-size: 1.1rem;
  
}
.login{
  margin-left: -13%;
  margin-right: 8%;
}
.Sign_In{
  margin-right: -13%;
  font-size: 2rem;
}
}
@media (max-width:530px){
  .enter_sign{
    width: 120%;
  }
  .enter_pass {
    width: 120%;
}

.button_sign {
  width: 50%;
  margin-left: 37%;
  font-size: 1.1rem;
}
.login{
  margin-left: -17%;
  margin-right: 5%;
}
.Sign_In{
  margin-right: -13%;
  font-size: 2rem;
}
}
@media (max-width:510px){
  .enter_sign{
    width: 120%;
  }
  .enter_pass {
    width: 120%;
}

.button_sign {
  width: 60%;
  margin-left: 37%;
  font-size: 1.1rem;
}
.login{
  margin-left: -15%;
  margin-right: 5%;
}
.Sign_In{
  margin-right: -13%;
  font-size: 2rem;
}
}

.flex{
    display: flex;
    flex-direction: row;
}
.image{
    display: flex;
    flex-direction: row;
    margin-left: -27%;
    margin-top: 9%;
}

.buttons{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 5%;
} 
.blue{
    height: 10%;
    font-size: 0.7rem;
    margin-left: -110%;
    margin-right: 37%;
    width: 100%;
    padding-top: 9%;
    padding-bottom: 9%;
    background-color:  #123456;
    color: white;
    border: none;
    border-radius: 3px;
    
    
 }

.orange{
    padding-top: 9%;
    padding-bottom: 9%;
    font-size: 0.7rem;
    width: 100%;
    margin-left: -24%;
    background-color: 	#FF8C00;
    color: white;
    border: none;
    border-radius: 3px;
}
.logo{
   margin-left: 57%;
   font-size: 1.3rem;
   color: #123456;
   font-weight: bold;
}
.dot{
    color: #FF8C00;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 12%;
    margin-left: 1%;
}
.head{
    display: flex;
    flex-direction: row;
}