.login {
    border: white;
    border-style: solid;
    border-width: 3px;
    padding-left: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 300px;
    border-radius: 7px;
  }
  .Sign_In {
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif; */
    font-weight: bold;
    margin-top: 100px;
    margin-left: 6%;
    
   
  }
  .sign_container {
    border: black;
    display: flex;
    flex-direction: column;
    width: -50px;
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 10px;
  }
  .lower{
      display: flex;
      flex-direction: row;
      font-size: 0.8rem;
      margin-top: -1.5%;
  }

  .Forgot{
      margin-left: 14%;
      color:  #123456;
      margin-top: 2%;
  }
  .rem{
    
      color:  #123456;
      margin-top: 2%;
  }
  
  .button_sign {
    background-color: #123456;
    margin-left: -30%;
    color: white;
    width: 500%;
    margin-left: -190%;
    margin-top: 30px;
    padding: 10px;
    font-size: 0.9rem;
  }

  .data{
    background-color: lightblue;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    width: 100%;
  }
  
  .enter_sign {

    padding: 10px;
    width: 500%;
    margin-left: -190%;
  }
  
  .enter_pass {
    margin-top: 30px;
    margin-left: -190%;
    padding: 10px;
    width: 500%;
    
    
    
    
  }

  

.flex{
    display: flex;
    flex-direction: row;
}
.image{
    display: flex;
    flex-direction: row;
    margin-left: -27%;
    margin-top: 9%;
}

.buttons{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 5%;
} 
.check{
 margin-left: 21%;
 margin-top: 3%;
 text-decoration: none;
 background-color:#123456;

}

 
.blue{
    height: 10%;
    font-size: 0.7rem;
    margin-left: -110%;
    margin-right: 37%;
    width: 100%;
    padding-top: 9%;
    padding-bottom: 9%;
    background-color:  #123456;
    color: white;
    border: none;
    border-radius: 3px;
    
    
 }

.orange{
    padding-top: 9%;
    padding-bottom: 9%;
    font-size: 0.7rem;
    width: 100%;
    margin-left: -24%;
    background-color: 	#FF8C00;
    color: white;
    border: none;
    border-radius: 3px;
}
.logo{
   margin-left: 57%;
   font-size: 1.3rem;
   color: #123456;
   font-weight: bold;
}
.dot{
    color: #FF8C00;
    font-weight: bold;
    font-size: 2rem;
    margin-top: -16%;
    margin-left: 1%;
}
.head{
    display: flex;
    flex-direction: row;
}

@media(max-width:380px){
  .login{
    margin-left: -40%;
    }

  .image{
    margin-left: -30%;
  }
  .buttons{
   margin-top: -30%;
  }
  .Sign_In{
    align-items: center;
    text-align: center;
  
  }

}



@media(max-width:400px){
  .login{
    margin-left: -40.5%;
    margin-top: 30%;
    
    
  }
  .buttons{
   margin-top: -30%;
  }
  .Sign_In{
    align-items: center;
    text-align: center;
  
  }
}
@media(max-width:420px){
  .login{
    margin-left: -34.5%;
    margin-top: 29.4%;
    
    
  }
  .buttons{
   margin-top: -30%;
  }
  .Sign_In{
    align-items: center;
    text-align: center;
    margin-left:10% ;
  
  }
}

